@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{

    margin: 0;

    padding: 0;
    
    box-sizing: border-box;

    scroll-behavior: smooth;

}

body
{
    font-family:'Poppins', sans-serif ;

}

h1
{
    font-size: 2.5rem;
    font-weight:700;
    color:white;
}

h2
{
    font-size: 1.8rem;
    font-weight: 600;
}
h3
{
    font-size: 1.4rem;
    font-weight : 800;
}
h4
{
    font-size: 1.1rem;
    font-weight : 800;

}
h5
{
    font-size: 1rem;
    font-weight : 400;
    Color: #1d1d1d

}
h6
{
    color: #d8d8d8

}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color : aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3 ease;
}
button:hover{
    background-color: #3a3a3a;

}
.main-container{

    height: 1300vh;

}

.navbar {
    font-size: 16px;
    top: 0;
    left : 0;
}


.navbar-logo img
{

    margin: 22.9px 119px;

    height: 40.5px;

    z-index: 90;

}

.navbar-bars

{

    margin-top: 10px;

    margin-right: 70px;

}
.nav.light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.nav.light .navbar-nav .nav-link:hover,
.nav i :hover,
.nav.light .navbar-nav .nav-link:hover.active,
.navbar i.active {
    color: blue;
}

.navbar i {
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar-light  .navbar-toggler{
    border: none;
    outline: none;
}

#bar {
    font-size: 1.5rem;
    padding: 0.7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
    color: black;
}

#home {
    background-image: url("IMAGES/GO.png");
    width : 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color : cornflowerblue;
}

.items{
    cursor :pointer;
    margin-bottom: 2rem;
}

.items img{
    transition: 0.3s all;
}

.items:hover img{
    opacity: 0.7 ;
}

.product{
    cursor :pointer;
    margin-bottom: 2rem;
}

. productimg{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7 ;
}

#banner{
    background-image: url("IMAGES/YES.webp");
    width : 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer {
    background-color: #222222;
}

);
    width : 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color : cornflowerblue;
}

.items{
    cursor :pointer;
    margin-bottom: 2rem;
}

.items img{
    transition: 0.3s all;
}

.items:hover img{
    opacity: 0.7 ;
}

.product{
    cursor :pointer;
    margin-bottom: 2rem;
}

. productimg{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7 ;
}

#banner{
    background-image: url("IMAGES/YES.webp");
    width : 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer {
    background-color: #222222;
}

